/* Hide scroll bar */
::-webkit-scrollbar {
  display: none;
}

/* Background home */

.background-dgtaliza {
  background-image: url("/src/app/assets/img/background-dgitaliza.png");
  position: relative;
  background-repeat: no-repeat;
  background-size: cover;
}

/* Section separator */

.slide {
  animation: marquee 45s linear infinite;
}

.slides:hover .slide {
  animation-play-state: paused;
}

@keyframes marquee {
  0% {
    transform: translateX(0);
  }
  100% {
    transform: translateX(-100%);
  }
}

html {
  scroll-behavior: smooth;
}

@keyframes fade-in-down {
  0% {
    opacity: 0;
    transform: translateY(-20px);
  }
  100% {
    opacity: 1;
    transform: translateY(0);
  }
}

@keyframes fade-in-up {
  0% {
    opacity: 0;
    transform: translateY(20px);
  }
  100% {
    opacity: 1;
    transform: translateY(0);
  }
}

.animate-fade-in-down {
  animation: fade-in-down 1s ease-out;
}

.animate-fade-in-up {
  animation: fade-in-up 1s ease-out;
}

.swiper-button-prev {
  background-image: url("/src/app/assets/img/arrow-left.png");
  background-repeat: no-repeat;
  width: 56px;
  height: 56px;
  left: 40px;
}

.swiper-button-next {
  background-image: url("/src/app/assets/img/arrow-right.png");
  background-repeat: no-repeat;
  width: 56px;
  height: 56px;
  right: 40px;
}

@media (max-width: 1024px) {
  .swiper-button-prev {
    left: 35px;
    width: 40px;
    height: 40px;
  }

  .swiper-button-next {
    right: 30px;
    width: 40px;
    height: 40px;
  }
}

@media (max-width: 768px) {
  .swiper-button-prev {
    left: 25px;
    width: 36px;
    height: 36px;
  }

  .swiper-button-next {
    right: 25px;
    width: 36px;
    height: 36px;
  }
}

@media (max-width: 425px) {
  .swiper-button-prev {
    left: 0px;
    width: 32px;
    height: 32px;
  }

  .swiper-button-next {
    right: 0px;
    width: 32px;
    height: 32px;
  }
}

@media (max-width: 375px) {
  .swiper-button-prev {
    left: 0px;
    width: 28px;
    height: 28px;
  }

  .swiper-button-next {
    right: 0px;
    width: 28px;
    height: 28px;
  }
}

.arrow {
  position: absolute;
  top: 45%;
}

.swiper-button-next::after,
.swiper-button-prev::after {
  display: none !important;
}

.swiper-button-disabled {
  opacity: 0 !important;
}

/* Carousel clients */

.slideOne img {
  width: 100%;
  margin: 0 auto;
}

.slideOne {
  transform: scale(0.2);
  transition: transform 300ms;
  opacity: 0.5;
}

.activeSlide {
  transform: scale(1.1);
  opacity: 1;
}

.arrow {
  position: absolute;
  cursor: pointer;
  z-index: 10;
}

.next {
  right: -5%;
  top: 50%;
  width: 56px;
  height: 56px;
}

.prev {
  left: -5%;
  top: 50%;
  width: 56px;
  height: 56px;
}
